<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @position do |f| %>

    <div class="plante">
      <div>
        Quelle plante voulez-vous localiser ?
      </div>
      <%= f.collection_select(:plant_id, Plant.all, :id, :name, :prompt => "Choisissez une variété") %>
    </div>

    <%= f.input :latitude, placeholder: "Latitude", :input_html => {
        :id => "latitude"
      } %>
    <%= f.input :longitude, placeholder: "Longitude", :input_html => {
        :id => "longitude"
      } %>
    <%= f.button :submit, class:"btn btn-success", disabled: true, id: "valider" %>
  <% end %>
    <div id="alert-localisation"></div>
    <button class="btn btn-outline-success" id="btn-loc">Localiser position</button>
<% end %>
