<script>
  $(document).ready(function() {
    $('#position_plant_id').select2();
  });
</script>

<%= link_to 'Liste de plantes', plants_path %>
<% if current_user.admin? %>
  <%= link_to 'Liste des utilisateurs', users_path %>
<% end %>

<div id="alert-localisation"></div>
<button class="btn btn-outline-success" id="btn-loc">Localiser position</button>
<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @position do |f| %>

    <div class="plante">
      <div>
        Quelle plante voulez-vous localiser ?
      </div>
      <%= f.collection_select(:plant_id, Plant.all, :id, :name, :prompt => "Choisissez une variété") %>
    </div>

      <%= f.input :latitude, placeholder: "Latitude", :input_html => {
        :id => "latitude"
      } %>
      <%= f.input :longitude, placeholder: "Longitude", :input_html => {
        :id => "longitude"
      } %>
    <%= f.button :submit, value: "Enregistrer la position", class:"btn btn-success", disabled: true, id: "valider" %>
  <% end %>

<% end %>


<script type="text/javascript">
    var btn = document.getElementById("btn-loc");
    var long = document.getElementById("longitude");
    var lat = document.getElementById("latitude");
    var alertLoc = document.getElementById("alert-localisation");

    btn.addEventListener("click", getLocation);

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        // navigator.geolocation.watchPosition(showPosition, showError);
      } else {
        alertLoc.innerHTML = "Geolocation is not supported by this browser.";
      }

      function showPosition(position) {
        console.log('position');
        lat.value = position.coords.latitude;
        long.value = position.coords.longitude;

        document.getElementById("valider").disabled = false;

      }

      function showError(error) {
        console.log('error');
        switch(error.code) {
          case error.PERMISSION_DENIED:
            alertLoc.innerHTML = "User denied the request for Geolocation."
            break;
          case error.POSITION_UNAVAILABLE:
            alertLoc.innerHTML = "Location information is unavailable."
            break;
          case error.TIMEOUT:
            alertLoc.innerHTML = "The request to get user location timed out."
            break;
          case error.UNKNOWN_ERROR:
            alertLoc.innerHTML = "An unknown error occurred."
            break;
        }
      }
    }

</script>
