<div class="container-custom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <% if Position.exists? %>
          <div class="map" id="map">
            <%= image_tag("map.svg") %>
            <div class="map__position" style="left: <%= position.to_percent_x %>%; top: <%= position.to_percent_y %>%;"></div>
          </div>
        <% end %>

        <%= simple_form_for @position do |f| %>

          <div class="plante">
            <div>
              Quelle plante voulez-vous localiser ?
            </div>
            <%= f.collection_select(:plant_id, Plant.all, :id, :name, :prompt => "Choisissez une variété") %>
          </div>

            <%= f.input :latitude, placeholder: "Latitude", :input_html => {
              :id => "latitude"
            } %>
            <%= f.input :longitude, placeholder: "Longitude", :input_html => {
              :id => "longitude"
            } %>
          <%= f.button :submit, value: "Enregistrer la position", class: "classic-button", id: "valider" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#position_plant_id').select2();
  });

  window.onload = function() {
  var long = document.getElementById("longitude");
  var lat = document.getElementById("latitude");

  draggable();

  function draggable() {
    Draggable.create(".map__position", {type:"x,y", edgeResistance:1, bounds:"#map", throwProps:false, onDrag: updateDraggable});
  }
  function updateDraggable() {
    posX = this.x + (this.minX * -1);
    posY = this.y + (this.minY * -1);
    mapWidth = $("#map").width();
    mapHeight = $("#map").height();

    // console.log("x " + posX);
    // console.log("y " + posY);

    //convert to %
    longPercent = (posX*100)/mapWidth;
    latPercent = (posY*100)/mapHeight;

    var NORTH = 48.160324;
    var EAST = 2.225492;
    var SOUTH = 48.159681;
    var WEST = 2.226475;

    var longTotal = WEST - EAST;
    var latTotal = NORTH - SOUTH;

    var longOffset = (longPercent * longTotal)/ 100;
    var latOffset = (latPercent * latTotal)/ 100;

    //convert to long/lat
    long.value = WEST - longOffset;
    lat.value = NORTH - latOffset ;
  }
}
</script>
