<p id="notice"><%= notice %></p>

<br>

<div class="container-fluid">
  <div class="container-map">
    <div class="row">
      <div class="col-9">
          <div id="map" class="map">
            <%= image_tag("map.svg") %>
            <% @positions.each do |position| %>
              <%= link_to position do %>
                <div class="map__position" style="left: <%= position.to_percent_x %>%; top: <%= position.to_percent_y %>%;"></div>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.approved? %>
    <div class="new-btn">
      <%= link_to 'New Position', new_position_path, class: "classic-button" %>
    </div>
<% end %>

