<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<div id="map" class="map">
  <%= image_tag("map.svg") %>
  <% @positions.each do |position| %>
    <div class="map__position" style="left: <%= position.to_percent_x %>%; top: <%= position.to_percent_y %>%;"></div>
  <% end %>
</div>

<br>


<% if user_signed_in? && current_user.approved? %>
  <%= link_to 'New Position', new_position_path %>
<% end %>

