<div id="index_plants">

  <div class="container-custom">
    <div class="container-fluid">
      <% if user_signed_in? %>
      <div class="text-center">
        <%= link_to 'Créer une nouvelle plante', new_plant_path, class:"white-button" %>
      </div>
      <% end %>

      <div class="row">
        <div class="col-10 m-auto">
          <div class="row">
            <% @plants.each do |plant| %>
              <div class="col-6 col-md-4 col-xl-3 col-custom">
                <%= link_to plant do %>
                  <div class="card-custom">
                    <div class="container-image">
                    <%# image %>
                      <% if plant.pictures.exists? %>
                        <%= image_tag(plant.pictures.last, alt: "", class: 'img-fluid indexImage') %>
                      <% else %>
                        <%= image_tag('rosefané.jpg', alt: "", class: 'template-img') %>
                      <% end %>
                    </div>
                    <div class="content-box">
                        <%= link_to plant do %>
                        <h4><%= plant.name %></h4>
                        <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
