<nav class="navbar navbar-light bg-light">
  <%= link_to 'Retour', root_path, class: "navbar-brand" %>
</nav>

<div class="container">
  <h1>Plantes</h1>

  <% if user_signed_in? %>
  <div class="text-center">
    <%= link_to 'Créer une nouvelle plante', new_plant_path, class:"btn btn-outline-success" %>
  </div>
  <% end %>

  <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-sm-3 col-12 p-1">
        <div class="card">
          <% if plant.pictures.exists? %>
            <%= image_tag(plant.pictures.first, alt: "", class: 'img-fluid indexImage') %>
          <% else %>
            <%= image_tag('template.jpg', class: 'template-img') %>
          <% end %>
          <h4><%= plant.name %></h4>
          <%= link_to 'Voir plus', plant %>
        </div>
      </div>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plants.each do |plant| %>
        <tr>
          <td><%= plant.name %></td>
          <td><%= link_to 'Voir', plant %></td>
          <% if user_signed_in?  %>
            <% if current_user.approved? %>
              <td><%= link_to 'Éditer', edit_plant_path(plant) %></td>
            <% end %>
            <% if current_user.admin? %>
              <td><%= link_to 'Supprimer', plant, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
