<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1><%= @plant.name %></h1>

  <% if @plant.positions.exists? %>
  <div class="map" id="map">
    <%= image_tag("map.svg") %>
      <% @positions.each do %>
        <div class="map__position" style="right: <%= @plant.positions.to_percent_x %>%; top: <%= @plant.positions.to_percent_y %>%;"></div>
      <% end %>
  </div>
  <% end %>

  <%= link_to 'Editer', edit_plant_path(@plant), class: "btn btn-secondary" %>

  <% if @plant.pictures.attached? %>
    <div class="container_img">
      <% @plant.pictures.each do |pict|%>
        <%= image_tag(pict, class: 'img-fluid') %>
      <% end %>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Date de création:</th>
        <td><%= @plant.creationDate %></td>
      </tr>
      <tr>
        <th scope="row">Créateur:</th>
        <td><%= @plant.getter %></td>
      </tr>
      <tr>
        <th scope="row">Famille:</th>
        <td><%= @plant.family %></td>
      </tr>
      <tr>
        <th scope="row">Couleur:</th>
        <td><%= @plant.color %></td>
      </tr>
      <tr>
        <th scope="row">Type:</th>
        <td><%= @plant.caracteristics %></td>
      </tr>
      <tr>
        <th scope="row">Description:</th>
        <td><%= @plant.description %></td>
      </tr>
       <tr>
        <th scope="row">Entretien:</th>
        <td><%= @plant.maintenance %></td>
      </tr>

    </tbody>
  </table>
</div>
