<nav class="navbar navbar-light bg-light">
  <%= link_to 'Retour', plants_path, class:"navbar-brand" %>
</nav>

<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1><%= @plant.name %></h1>

  <%= link_to 'Editer', edit_plant_path(@plant), class: "btn btn-secondary" %>

  <% if @plant.pictures.attached? %>
    <div class="container_img">
      <% @plant.pictures.each do |pict|%>
        <%= image_tag(pict, class: 'img-fluid') %>
      <% end %>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Champ1:</th>
        <td><%= @plant.champ1 %></td>
      </tr>

    </tbody>
  </table>
</div>
