<nav class="navbar navbar-light bg-light">
  <%= link_to 'Retour', plants_path, class:"navbar-brand" %>
</nav>

<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1><%= @plant.name %></h1>

  <%= link_to 'Editer', edit_plant_path(@plant), class: "btn btn-secondary" %>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Champ1:</th>
        <td><%= @plant.champ1 %></td>
      </tr>
      <tr>
        <th scope="row">Champ2:</th>
        <td><%= @plant.champ2 %></td>
      </tr>
      <tr>
        <th scope="row">Champ3:</th>
        <td><%= @plant.champ3 %></td>
      </tr>
      <tr>
        <th scope="row">Champ4:</th>
        <td><%= @plant.champ4 %></td>
      </tr>
      <tr>
        <th scope="row">Champ5:</th>
        <td><%= @plant.champ5 %></td>
      </tr>
      <tr>
        <th scope="row">Champ6:</th>
        <td><%= @plant.champ6 %></td>
      </tr>
      <tr>
        <th scope="row">Champ7:</th>
        <td><%= @plant.champ7 %></td>
      </tr>
      <tr>
        <th scope="row">Champ8:</th>
        <td><%= @plant.champ8 %></td>
      </tr>
      <tr>
        <th scope="row">Champ9:</th>
        <td><%= @plant.champ9 %></td>
      </tr>
      <tr>
        <th scope="row">Champ10:</th>
        <td><%= @plant.champ10 %></td>
      </tr>

    </tbody>
  </table>
</div>
