<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Champ1:</strong>
  <%= @plant.champ1 %>
</p>

<p>
  <strong>Champ2:</strong>
  <%= @plant.champ2 %>
</p>

<p>
  <strong>Champ3:</strong>
  <%= @plant.champ3 %>
</p>

<p>
  <strong>Champ4:</strong>
  <%= @plant.champ4 %>
</p>

<p>
  <strong>Champ5:</strong>
  <%= @plant.champ5 %>
</p>

<p>
  <strong>Champ6:</strong>
  <%= @plant.champ6 %>
</p>

<p>
  <strong>Champ7:</strong>
  <%= @plant.champ7 %>
</p>

<p>
  <strong>Champ8:</strong>
  <%= @plant.champ8 %>
</p>

<p>
  <strong>Champ9:</strong>
  <%= @plant.champ9 %>
</p>

<p>
  <strong>Champ10:</strong>
  <%= @plant.champ10 %>
</p>

<%= link_to 'Retour', plants_path %> |
<%= link_to 'Editer', edit_plant_path(@plant) %>

